.row, .col {
    width: 100%;
}

.floorno {
    width: 3em;
}

h5 {
    color: var(--key-accented);
    letter-spacing: .05em;
    font-weight: 700;
    margin-top: 3rem;
}

.collapsible-header .row, .nomargin {
    margin: 0 !important;
}

.collapsible-header img {
    height: 1.5rem;
    margin-right: 1em;
}

.tabs.tabs-transparent {
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.tabs.tabs-transparent .tab a {
    color: var(--text);
}

.tabs.tabs-transparent .tab a.active, .tabs.tabs-transparent .tab a:hover {
    color: var(--text);
}

.tabs.tabs-transparent .tab a.active {
    background-color: var(--key-low);
    text-decoration: none;
}

.tabs.tabs-fixed-width .tab {
    flex-basis: 0;
}

.notebarcontainer {
    overflow-x: auto;
    overflow-y: hidden;
}

.notebar {
    width: 100%;
    min-width: 1200px;
    background: var(--text);
    position: relative;
    height: 1em;
    user-select: none;
    --gimmicklayers: -999;
    margin: calc((var(--gimmicklayers) * 0.625 + 0.5) * 1em) 0 1.2em;
    z-index: 1;
    font-size: 150%;
}

.notebar .appealchance {
    position: absolute;
    top: 0;
    height: 100%;
    background: var(--key-dark);
    font-size: 70%;
    white-space: nowrap;
    user-select: none;
    z-index: 2;
}

.notebar .note {
    position: absolute;
    height: 50%;
    background: var(--sidenav);
    width: 2px;
    z-index: 3;
    pointer-events: none;
}

.notebar .note.top {
    top: 0;
}

.notebar .note.bottom {
    top: 50%;
}

.notebar .hold {
    position: absolute;
    height: 0.25em;
    z-index: 3;
    background: repeating-linear-gradient(to right, var(--sidenav) 0%, var(--sidenav) 50%, transparent 50%, transparent 100%);
    background-size: 2px 0.5em;
    pointer-events: none;
}

.notebar .hold.top {
    top: 0.125em;
}

.notebar .hold.bottom {
    top: 0.625em;
}

.notebar .note.gimmicked {
    background: lightskyblue;
}

.dark-mode .notebar .note.gimmicked {
    background: darkturquoise;
}

.notebar .gimmick {
    position: absolute;
    font-size: 50%;
    --gimmicklayer: -999;
    --gimmicklayer-filtered: -999;
    transition: opacity .2s, top .2s;
    user-select: none;
    top: calc((-1.45 - var(--gimmicklayer) * 1.25) * 1em);
    background: var(--panel);
    height: 1.25em;
}

.notebar .gimmick.filtered {
    top: calc((-1.45 - var(--gimmicklayer-filtered) * 1.25) * 1em);
}

.notebar .gimmick.hidden {
    opacity: 0.05;
    z-index: 0;
}

.notebar .gimmickmarker {
    position: absolute;
    background: var(--panel);
    color: var(--text);
    user-select: none;
    width: 1.25em;
    height: 1.25em;
    line-height: 1em;
    text-align: center;
    border: 1px solid var(--text);
    border-radius: 0.625em;
    z-index: 5;
    left: -0.625em;
    top: 0;
}

.notebar .gimmicklength {
    background: var(--text);
    position: absolute;
    z-index: 4;
    top: calc(0.625em - 1px);
    height: 2px;
    width: 100%;
}

.notebar .marker {
    width: 2em;
    text-align: center;
    position: absolute;
    font-size: 50%;
    top: 1.5em;
    line-height: 1em;
    z-index: 0;
    user-select: none;
}

.notebar .marker.fifty {
    font-weight: bold;
}

.notebar .selection {
    height: 100%;
    top: 0;
    background-color: var(--key-normal);
    position: absolute;
    opacity: 0.5;
    z-index: 6;
}

.detailinfo h5 {
    font-size: 1.3rem;
    margin-top: 0;
}

.detailinfo > div {
    border: 1px solid var(--border);
    margin-bottom: 1em;
}

.detailinfo > div > div:first-child {
    background-color: var(--key-low);
    border-bottom: 1px solid var(--border);
    padding: .3em .8em .2em;
    font-weight: bold;
    transition: background-color .2s;
}

.detailinfo > div.gimmick:hover > div:first-child::after {
    content: "click to highlight";
    float: right;
    font-weight: normal;
    font-size: 70%;
    margin-top: 0.33em;
}

.detailinfo > div.gimmick.filtered > div:first-child::after {
    content: "click to unhighlight";
    float: right;
    font-weight: normal;
    font-size: 70%;
    margin-top: 0.33em;
}

.detailinfo > div.filtered > div:first-child {
    background-color: var(--key-normal);
}

.detailinfo > div > div:last-child {
    padding: .3em .8em .2em;
}

.tooltip {
    position: absolute;
    max-width: 350px;
    left: 0;
    top: 0;
    transform: translate(-50%, -100%);
    z-index: 100;
    pointer-events: none;
}

.tooltip .tooltip-inner {
    background-color: var(--panel);
    border: 1px solid var(--border);
    padding: .5em .8em;
}

.tooltip .tooltip-arrow {
    width: 100%;
    height: 0.7rem;
    font-size: 2.1rem;
    line-height: 0;
    color: var(--border);
    text-align: center;
    overflow: hidden;
}

.tooltip .col.m6 {
    width: 100%;
}

.tower .collapsible {
    margin-top: 0;
    margin-bottom: 0;
}

.progress {
    background: none;
    height: 1.5em;
    line-height: 1em;
    margin: 0 0 0 1.66em;
    padding-left: 2em;
    border-left: 5px dotted var(--key-normal);
    text-transform: uppercase;
}

.progress.reward {
    height: 5em;
    padding-top: 2em;
}

.progress.reward:last-child {
    height: 3em;
    overflow: visible;
    margin-bottom: 2em;
}

.t, .a {
    font-weight: 500;
}

.t.vo {
    color: #cf403d; /* original colour */
}

.dark-mode .t.vo {
    color: #ff8e8b;
}

.t.sp {
    color: #248ecf; /* original colour */
}

.dark-mode .t.sp {
    color: #4ebcff;
}

.t.gd {
    color: #3ea15b; /* original colour */
}

.dark-mode .t.gd {
    color: #28ca57;
}

.t.sk {
    color: #a07200;
}

.dark-mode .t.sk {
    color: #e4b642; /* original colour */
}

.a.smile {
    color: #dd4aa5; /* original colour */
}

.dark-mode .a.smile {
    color: #ffb6e3;
}

.a.pure {
    color: #39a85d; /* original colour */
}

.dark-mode .a.pure {
    color: #16d754;
}

.a.cool {
    color: #0099ee; /* original colour */
}

.dark-mode .a.cool {
    color: #3cb9ff;
}

.a.active {
    color: #db3e3e; /* original colour */
}

.dark-mode .a.active {
    color: #ff8e8e;
}

.a.natural {
    color: #b98c19;
}

.dark-mode .a.natural {
    color: #edbb3e; /* original colour */
}

.a.elegant {
    color: #85519c; /* original colour */
}

.dark-mode .a.elegant {
    color: #de94ff;
}