td, th {
    padding: 5px 5px;
}

th, tr td:first-child {
    font-weight: bold;
}

#resulttable {
    display: none;
}

#resulttable tbody tr:nth-child(-n+3):nth-child(odd) {
    background-color: var(--key-low) !important;
}

#resulttable tbody tr:nth-child(-n+3):nth-child(even) {
    background-color: var(--key-low2) !important;
}

#resulttable tr td:nth-child(1) {
    width: 10%;
}

#resulttable tr td:nth-child(2) {
    width: 50%;
}

#resulttable tr td:nth-child(3) {
    width: 40%;
}

#inputtable:not(.gimmickselect) tr td:nth-child(1) {
    width: 20%;
}

#inputtable:not(.gimmickselect) tr td:nth-child(2) {
    width: 10%;
}

#inputtable:not(.gimmickselect) tr td:nth-child(3) {
    width: 17.5%;
}

#inputtable:not(.gimmickselect) tr td:nth-child(4) {
    width: 17.5%;
}

#inputtable:not(.gimmickselect) tr td:nth-child(5) {
    width: 17.5%;
}

#inputtable:not(.gimmickselect) tr td:nth-child(6) {
    width: 17.5%;
}

#inputtable:not(.gimmickselect) tr td:nth-child(7), #inputtable:not(.gimmickselect) tr th:nth-child(7) {
    width: 0%;
    text-align: center;
    display: none;
}

#inputtable.gimmickselect tr td:nth-child(1) {
    width: 20%;
}

#inputtable.gimmickselect tr td:nth-child(2) {
    width: 10%;
}

#inputtable.gimmickselect tr td:nth-child(3) {
    width: 15%;
}

#inputtable.gimmickselect tr td:nth-child(4) {
    width: 15%;
}

#inputtable.gimmickselect tr td:nth-child(5) {
    width: 15%;
}

#inputtable.gimmickselect tr td:nth-child(6) {
    width: 15%;
}

#inputtable.gimmickselect tr td:nth-child(7), #inputtable.gimmickselect tr th:nth-child(7) {
    width: 10%;
    text-align: center;
}

#inputtable tr td:nth-child(7) input[type="checkbox"] + span {
    border: none !important;
    background: none !important;
    width: 0 !important;
    display: initial !important;
}

.fullwidth {
    width: 100%;
}

#inputtable .select-wrapper {
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position-y: 3px;
}

#inputtable .select-wrapper[style^="background-image: url"] input {
    color: rgba(0,0,0,0) !important;
}

#inputtable .select-wrapper li span {
    display: none;
}

#inputtable .select-dropdown li img {
    margin: 5px 30% 0 0;
}