var dateOverride = [new Date($FROM), new Date($TO)];

var notificationInfo = {
    message: "<b>August 3 Update: </b>Happy Sync. Removing the region select here, too, but I trust Klab WW 0% that there won't be differences down the line lol",
    id: 16,
    allowDismiss: true
};